.input:focus {
    outline: none;
    border: #00af00 solid 2px;
}

.input {
    margin: 10px;
    background: #ffffff;
    color: #00af00;
}

.inputWrapper {
}

.superInput {
    background: #ff00ac;
}

.errorInput {
    margin: 10px;
    background: #ff0000;
    color: #00af00;
    border: red;
}

.errorInput:focus {
}

.error {
    color: #dd3355;
    height: 20px;
    margin-left: 10px;
}
