.greetingForm {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.inputAndButtonContainer {
    display: flex;
    align-items: center;
}

.error {
}

.input {
    /*border: 1px solid #000002;*/
    width: 15rem;
    height: 2rem;
    display: flex;
    padding: 1rem 0.2rem;
    border-radius: 3px;
    border-color: #00cc22;
}

.input:focus {
    border-color: #00cc22;
}

.errorInput {
    width: 15rem;
    height: 2rem;
    display: flex;
    padding: 1rem 0.2rem;
    border-radius: 3px;
    border-bottom-color: red;
}

.button {
    margin-left: 1rem;
    align-self: flex-start;
    border-radius: 3px;
    height: 2.3rem;
    display: block;
    border: none;
    color: white;
    background: #0066CC;
    padding: 0.5rem 2rem;
    cursor: pointer;
}

.button:hover {
    background: #002e5c;
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.greeting {
    color: rgba(0, 0, 0, 0.5);
}
