.button {
    position: relative;
    margin: 10px;
    overflow: hidden;
    cursor: pointer;
    background: #ffffff;
    padding: 5px 10px;
    border-radius: 10px;
}

.disabled {
    background: gold;
    opacity: 0.5;
    cursor: auto;
}

.secondary {
    background: cadetblue;
    color: white
}

.default {
    background: #ffffff;
}

.red {
    background: red;
}

.default:hover {
    background: #0066CC;
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
    background: #7e8a93;
    color: white;
}
