.button {

}

.disabled {
    background: gold;
}

.secondary {
}

.default {
    background: #0066CC;
}

.red {
    background: red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
    background: #7e8a93;
    color: white;
}
